body {
    background-color: lightblue;
    color: black;
    font-family: Arial, sans-serif;
}

h1 { 
    color: darkblue; 
    text-align: center; 
} 


h2 { 
    color: gray;
 }

 .highlight {
    background-color: yellow;
    color: black;
    font-weight: bold;
}

.deemphasis {
    color: green;
    font-style: italic;
}
