p{ 
  color:blue;
  font: size 18px;
}

header {
    background-color: aquamarine
    ;
}
#firstP{
    color: purple;
}
 
.bolder {
    font-weight: bold;
}

.darker {
    color: brown;
}

h3 {
    color: red;
}
