body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #f4f4f400;
}

header {
    background-color: #35769f;
    color: white;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: bold ;
    margin: 0 15px;
    padding: 8px 12px;
    background-color:gray;
    border-radius: 8px;
}

nav a:hover {
    background-color: rgb(183, 85, 85);
}

main {
    padding: 70px;
    background-color: white;
    background-color: orange;
    
}

figure {
    margin: 0;
}

figure img {
    width: 250px;
    border-radius: 30px;
    box-shadow: 20px 10px 10px rgba(0,0,0,0.3);
    border: thick solid gray;
}

figcaption {
    font-style: italic;
    font-size: 0.9rem;
    margin-top: 5px;
    text-shadow: 0 0 3px black
    
}

.float-image {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.clear {
    clear: both;
}

footer {
    text-align: left;
    padding: 10pxx;
    background-color: rgb(67, 161, 155);
    color: white;
    margin-top: 50px;
    
}

.wrapper {
    width: 850px;
    margin: 0 auto;
    background-color: white;
    box-shadow: greenyellow;
}
